@model IEnumerable<SchoolProject.Models.WebClass>
@{
    ViewBag.Title = "List";
}

<h2>Class List</h2>

@foreach (var WebClass in Model)
{
    <div>
        <h3><a href="/WebClass/Show/@WebClass.WebClassId">@WebClass.WebClassName </a></h3>


    </div>

}