@model SchoolProject.Models.WebClass

<!-- CLASS DESCRIPTION - ONE CLASS -->
@{
    ViewBag.Title = "Show";
}
<h1>Class Description: </h1>
<a class="navlink" href="/WebClass/List">Back to Class List</a>
<div id="container">
    <h2>@Model.WebClassName </h2>
    

</div>


