
@{
    ViewBag.Title = "Ajax_List";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2> List of Teachers</h2>
    <div>
        <input type="text" id="SearchKey" name="SearchKey " autocomplete="off" onkeyup="_ListTeachers(this);" />
    </div>
    <script>
        //Subsequent alls are made through _ListAuthors (found in /Scripts/Teachers.js)
        ListAuthors("");
    </script>

</div>

