
@{
    ViewBag.Title = "New";
}


<div id="containershow">
    <h2>New Teacher</h2>

    <form method="POST" action="/Teacher/Create">
        <div class="inputrow">
            <h2>First Name</h2>
            <input type="text" id="TeacherFname" name="TeacherFname" />

            <h2>Last Name</h2>
            <input type="text" id="TeacherLname" name="TeacherLname" />

            <div class="inputrow">
                <input type="submit" value="Create Teacher" />

            </div>
        </div>


    </form>



</div>
