@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<!-- Shows information about 1 teacher -->
<a class="navlink" href="/Teacher/List">Back to Teachers</a>
<div id="containershow">
    <h1>Teacher:</h1>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>StaffID: @Model.TeacherId</p>
    <h3>Term 1</h3>

    <!--<p>Model.CourseName</p>  -->
    <p>Advanced Level</p>
    <p>Time: Wednesday, 1-3PM</p>
    <p></p>

    <div></div>


</div>

