@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Update";
}


<!-- update is the combination of the new.cshtml and the show.cshtml. We want to still show 
    the existing information about the teacher to be modified or updated-->
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>

    <h2>Update Teacher</h2>
    <form method="POST" action= "/Teacher/Update/@Model.TeacherId">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname"/>

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname"/>
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>


    </form>
</div>

