@model IEnumerable<SchoolProject.Models.Course>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Course/New">New Course</a>
    </nav>
    <h2>Class List</h2>

    <form action="/Course/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off"/>
        <input type="submit" value="Search" />

    </form>

    @foreach (var Course in Model)
    {
        <div class=" = listitem row">
            <div class="col-md-12">
                <a href="/Course/Show/@Course.CourseId">@Course.CourseName </a>
            </div>


        </div>

    }

</div>
