@model SchoolProject.Models.Course

<!-- CLASS DESCRIPTION - ONE CLASS -->
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Course/List">Back to Course</a>
        <a class="dellink" href="/Course/DeleteConfirm/@Model.CourseId">Delete</a>
        <a class="navlink" href="/Course/Update/@Model.CourseId">Update Course</a>
    </nav>

    <h1>@Model.CourseName </h1>
    <p > Start Date: @Model.StartDate.ToString("yyyy-MM-dd")</p>
    <p>@Model.CourseCode</p>
    


</div>


