@model SchoolProject.Models.Course

<!-- CLASS DESCRIPTION - ONE CLASS -->
@{
    ViewBag.Title = "Show";
}
<h1>Class Description: </h1>
<a class="navlink" href="/Course/List">Back to Class List</a>
<div id="containershow">
    <h2>@Model.CourseName </h2>
    

</div>


