<div class="jumbotron">
    <h1>Code Raiders Web Development School </h1>
    <p class="lead">We teach Web sites and Web applications using HTML, CSS, JavaScript and C#.</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What you will learn:</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="/WebClass/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>Our instructors have 10+ industry experience and many run their own businesses.</p>
        <p><a class="btn btn-default" href="/Teacher/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Students</h2>
        <p>Students who enroll in the Code Raiders program are from diverse backgrounds and from around the world. </p>
        <p><a class="btn btn-default" href="/Student/List">Learn more &raquo;</a></p>
    </div>
</div>
