@model IEnumerable<SchoolProject.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>Student List</h2>

<form action="/Student/List" method="GET">
    <input type="text" name="StudentSearchKey"/>
    <input type="submit" value="Submit!"/>
</form>

@foreach (var student in Model)
{
    <div>
        <h3><a href="/Student/Show/@student.StudentId">@student.StudentFname @student.StudentLname</a></h3>


    </div>

}